/* CSS RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* appearance: none; */
    outline: none;
    text-decoration: none;
    list-style: none;
}
/* CSS RESET END */

:root {
    --black: rgb(37, 37, 37);
    --lightBlack: rgb(44, 44, 44);
    --lightShade: rgba(255, 255, 255, 0.05);
    --accentColor: rgb(255, 208, 0);
}

body {
    display: grid;
    grid-template-columns: max-content 1fr;
    color: white;
    font-family: Arial, Helvetica, sans-serif, system-ui;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 0;
    background-color: var(--lightBlack);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 4px 0 8px -8px rgb(0, 0, 0);

    & h1 {
        font-size: 35px;
    }

    & .buttons {
        display: flex;
        flex-direction: column;
    }

    & button {
        background-color: transparent;
        border: none;
        width: 100%;
        padding: 20px 30px;
        height: fit-content;
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & button:hover {
        background-color: var(--lightShade);
    }

    & button img {
        width: 50px;
    }
}

article {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

.card {
    height: 550px;
    width: min-content;
    display: flex;
    flex-direction: column;
    position: relative;

    & .title {
        font-size: 20px;
        text-wrap: wrap;
    }

    & .author {
        font-size: 18px;
        color: grey;
        margin: 0 5px;
    }

    & img:not(.readStatus) {
        height: 450px;
        border-radius: 10px;
    }

    & > div:not(.triangle) {
        margin: 10px 5px 5px 5px;
        display: flex;
        justify-content: space-between;
    }

    & input {
        width: 30px;
        height: 30px;
    }

    .triangle {
        border-left: 50px solid transparent;
        border-right: 50px solid var(--accentColor);
        border-top: 50px solid var(--accentColor);
        border-bottom: 50px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 10px;
    }

    .readStatus {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 2;
        width: 40px;
        height: 40px;
    }
}

#newBookModal {
    margin: auto;
    width: 400px;
    height: fit-content;
    border: none;
    border-radius: 10px;
    background-color: var(--lightBlack);
    color: white;

    .newBookWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 40px;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: stretch;
        text-align: center;
    }
    
    .titleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .titleWrapper input {
        width: 28px;
        height: 28px;
    }

    & h1 {
        font-size: 28px;
    }

    & input:not([type="image"]):not([type="file"]), & button {
        height: 40px;
        border-radius: 100px;
        padding: 0 15px;
        border: none;
        font-size: 20px;
    }

    & input:not([type="image"]):not([type="file"]) {
        background-color: var(--lightShade);
        color: white;
    }

    & button {
        background-color: var(--accentColor);
    }

    .checkboxWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 20px;
    }
}





