/* CSS RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* appearance: none; */
    text-decoration: none;
    list-style: none;
}
/* CSS RESET END */

article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 20px;
    padding: 20px;
}